/* reset.css */

* {
  box-sizing: border-box;
  font-family: var(--unnamed-font-family-inter), sans-serif;
  color: var(--white);
}

html {
  background-color: var(--black);
  scroll-behavior: smooth;
}
